.icon-s {
  size: 300px;
  color: blueviolet;
}
.box-shadow {
  background-color: aquamarine;
  color: black;
  box-shadow: 2px 2px 4px rgb(183, 201, 255);
}
.shadow-color {
  background-color: none;
}
.nav-style {
  font-family: oswald;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #b6c4b6;
}

.navbar-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a {
  /* color: #304d30; */
  color: #146356;
  /*  color: #005581; */
}

.logo {
  width: 100px;
  height: auto;
}
.active-link {
  /*   color: #e78026; */
  color: #eef0e5;
  font-weight: bold;
}
.color-blue {
  color: #3468c0;
  /*  color: #005581; */
}
nav {
  font-family: oswald;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #b6c4b6;
}
