.icon-s {
  size: 300px;
  color: blueviolet;
}
.box-shadow {
  background-color: aquamarine;
  color: black;
  box-shadow: 2px 2px 4px rgb(183, 201, 255);
}
.shadow-color {
  color: rgb(183, 201, 255);
}
.nav-style {
  color: #012b4d;
  font-size: 1.6rem;
  font-weight: 900;
}

a {
  color: #012b4d;
}
.navbar-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a,
a:hover,
a:focus {
  color: pink;
}
nav {
}
