html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #005581;
  font-size: 40px;
  font-family: Lovelo;
}
h3 {
  color: #966c3b;
  font-family: fantasy;
}
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #966c3b;
}

.bg-beige {
  background-color: #f76e50;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.link-button {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  font-weight: 900;
  color: #d1dbf5;
  background-color: #146356;
  text-decoration: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
