html {
  box-sizing: inherit;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
p {
  font-size: 16px;
  font-family: "Century Gothic";
}
h1 {
  color: #3468c0;
  /* color: #005581; */
  font-size: 40px;

  font-family: Lovelo;
}
h3 {
  color: #966c3b;
  font-family: fantasy;
}
h5 {
  /* color: #005581; */
  color: #3468c0;
}
.container-flex {
  width: 100%;
  padding: 1vw;
  margin: 0.01rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.link-button {
  font-family: oswald;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #b6c4b6;
  color: #146356;
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li a:hover {
  color: #146356;
}
