body {
  color: #333;
  cursor: auto;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
  /*  background-color: "#F1F0ED"; */
  background-color: "red";
  max-width: 100%;
}
*,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  color-scheme: dark;
}
